*{
    padding: 0px;
    margin: 0px;
}

.back {
    float: right;
    font-size: 33px;
    color: blue;
}


.CTSP {
    padding: 26px 0px;
}


.trai h4 {
    padding: 7px 3px;
    border: 1px solid #c6bcbc;
    font-size: 22px;
    font-weight: 800;
    color: blue;
    margin-bottom: 4px;
}


.giatien {
    margin-bottom: 8px;
    font-weight: 900;
    font-size: 31px;
}

.tenhinh {
    margin-top: -7px;
    margin-bottom: 5px;
    color: red;
    font-size: 38px;
}

.hinh img {
    -webkit-box-shadow: -1px 0px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 25px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 25px 0px rgba(0,0,0,0.75);
    border-radius: 14px;
    width: 100%;
}

th {
    max-width: 158px!important;
}
span {
    color: #ff0808;
}
td.soLuong {
    color: #00b807;
}