*{
	margin:0px;
	padding:0px;
}

.chitiet .row {
    border: 1px solid #040404;
}

.container.gioHang {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.right .chitiet {
    font-weight: 600;
    background: white;
    color: black;
}

hr {width: 100%;height: 1px;background: white;}

.right button.btn.btn-primary.btn-lg {
    width: 100%;
    height: 38px;
    font-size: 19px;
    padding: 0px;
}

.tongTien {
    background: #d00c0c;
    margin-top: 3px;
    border-top: 1px solid #96633f;
    text-align: center;
    font-size: 17px;
}

button.btn.btn-outline-primary {
    padding: 0px;
    width: 74px;
    height: 27px;
    font-size: 14px;
    margin: 0px;
}

.right input[type="number"] {
    width: 96px;
}

.right .infor {
    font-size: 13px;
}

.right .tensp {
    font-size: 14px;
}

.right .col-md-4 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.right img {
    border: 1px solid red;
    width: 79%;
    margin-left: 14px;
}

.right .tilte {
    margin-top: 56px;
    font-size: 23px;
}

.left label {
    font-size: 15px;
}

.left .form-group {
    margin-top: 11px;
}

.left .form-check {
}

.left label.form-check-label {
}

.giohang .title {
    margin-top: 20px;
}

.container-fluid.giohang {
    background: black;
    color: white;
}