<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>spring-mvc</display-name>
 <absolute-ordering />
	
    <!-- Spring MVC -->
   <servlet>
    	
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/MiniShope-Servlet.xml
			</param-value>
		</init-param>
		<init-param>
				<param-name>throwExceptionIfNoHandlerFound</param-name>
				<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<!--  <async-supported>true</async-supported> -->
			
	</servlet>
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value >    
           /WEB-INF/Security.xml

        </param-value>
    </context-param>

<!-- 	 <error-page>
	  <exception-type>404</exception-type>
    <location>/views/Error.jsp</location>
</error-page> -->
    <session-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

   <!-- Declare Spring Security Filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<!--  <async-supported>true</async-supported> -->
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	  <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
</web-app>
