*{
    padding: 0px;
    margin: 0px;
}
.red{
	color:red;
}
#timer{
	color:green;
}

div#pwdModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    /* width: 100%; */
}

form#idsignup {}

.card-body.sigup {
    height: 169%;
}

.resend {
    display: flex;
}

button#resend {
    margin-left: 15px;
    padding: 0px 3px;
    font-size: 13px;
}

#message-mail{
	color:green;
}
.custom-control.custom-checkbox.mb-2 {
    margin-left: 33px;
}
#message-password{
	color:green;
}
.custom-control.custom-checkbox.mb-3 {
    margin-left: 33px;
    display: block!important;
}

.mau {
   color: #000000!important;
    background-color: #93dce3a6!important;
}

.messenger {
    opacity: 0.9;
    width: 93%;
    color: red;
    text-align: center;
    font-size: 9px!important;
    margin: auto;
    margin-top: 8px;
    border-radius: 5px;
}

.alert.alert-danger.messenger {
    color: red!important;
}

.content1 {
    margin-top: 18px;
}

.card-body.sigin {
    height: 100%;
}

.check {
    align-items: center;
    height: 80px;
    margin-top: 6px;
}

button#redirect {
    padding: 8px 8px;
    float: right;
    margin-right: 16px;
}

.mb-2 a > i {
    /* background-color: black; */
    color: #f7c924;
    padding-left: 10px;
    font-size: 60px;
}

.card-subtitle.mb-2.text-muted {
    width: 233px;
    left: 267px!important;
    right: -21px;
    position: absolute;
    left: -16px;
    top: -26px;
}

.card {
    position: relative;
}



.dau {
    margin-top: 13px;
}

.cuoi {
    margin-top: -1px;
}

a {
    font-weight: 300;
    font-size: 17px;
}

.bottom h3 {margin-top: 15px;font-weight: 400;font-size: 18px;display: inline;color: white;margin: auto;}

.bottom {
    text-align: center;
    margin-top: 17px;
    border-top: 1px solid #0000004a;
    flex-direction: column;
}

label {
    color: white;
}

label {
    margin-left: 19px;
    display: block;
    font-size: 12px;
}

.rememberme label.custom-control-label {
    margin-left: 8px!important;
    font-size: 14px;
}

button.btn.btn-warning {
    margin-bottom: 20px;
    font-weight: 600;
    color: black;
    font-size: 19px;
    width: 114px;
    margin-right: 1%;
    display: block;
    float: right;
}

button#nutSigIn {
    margin-right: 16px;
}

input[type="checkbox"] {
 
margin-left: 8%;
}

.input-group-prepend {
    border: 1px solid #ffc300!important;
    border-radius: 7px 0px 0px 7px;
    background-color: #ffc300!important;
    width: 46px;
}

span#addon-wrapping {
    border-radius: 7px 0px 0px 7px;
    background: none;
    color: black;
    font-size: 26px;
}

.input-group.flex-nowrap {
    width: 93%;
    margin: 0px auto;
    height: 45px;
}

.input-group.flex-nowrap.one {
    border: none;
    margin-top: 26px;
}

#idsignin .input-group.flex-nowrap.one {
    margin-bottom: 15px;
    margin-top: 9px;
}

h5.card-title {
    margin-top: 10px;
    font-size: 48px;
    color: white;
    margin-left: 3%;
}

.card {
    background-color: #00000080;
    width: 500px !important;
    height: auto;
    margin: auto;
}

.container-fluid.background {
    background-blend-mode: darken;
    background-size: unset;
    height: 754px;
    display: flex;
    background: radial-gradient(#ffffff00, #0d0d0c00, black),url(../Images/544750.jpg) center center;

}
@keyframes run{
  0%   {color:white;}
  100%  {color:red; }
  
}